 body { margin: 0; padding:0; font-family: Arial, sans-serif; background: #0f131d; color: #ffffff;}
button { padding: 10px20px; font-size 16px; cursor: pointer; } 
button . hover { background: #4CAF50; color: white; }
